
body{
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0px;
  overflow-x: hidden;
}
body {
    height: 100%;
    background: linear-gradient(90deg, #E1418C 50%, #FFFFFF 50%);
}


h1{
  margin: 10px;
  font-size: 100px;
  font-family: sans-serif;
  font-weight: 700;
}

h4{
  font-size: 30px;
  margin: 10px;
  font-weight: 700;
  font-family: sans-serif;
}
#leftdiv{
  flex: 1;
  height: 100%;
  width: 50%;
  background-color:rgb(225, 65, 140);
}

#rightdiv{
  flex: 1;
  height: 100%;
  width: 50%;
  background-color: silver;
}

#to-do-box{
  
  font-size: 25px;
  width: 100%;
  height: 100vh;
 
}

.todoContainer{
  display: flex;
  background-color: purple;
  justify-content: space-between;
  margin: 5px;
}

.todobutton{
  display: flex;
  justify-content: space-between;
  background-color: dark peru;
}

p{
  margin: 10px;
  font-size: 20px;
}
